*.pyc
__pycache__/
.idea/
!docs
.pytest_cache/*
dist/
*.egg-info/
.eggs/
build/
.tox/
htmlcov/
junit*.xml
sample_projects/*/*/*
!sample_projects/data_extraction/*/*.json
!sample_projects/data_extraction/*/configs/*.json
!sample_projects/data_extraction/*/train/configs/*.json
!sample_projects/data_extraction/*/eval/configs/*.json
!sample_projects/data_extraction/*/*.md
!sample_projects/*/training/configs
!sample_projects/*/inference/configs
!sample_projects/*/kpi_evaluation/configs
sample_projects/*/nucleus7_project.json
*.tfrecords
**/mlruns/

